/* Main */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

/* Main */

/* header */

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 15px 0;
    background-color: lightblue;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav img{
    width: 80px;
    height: 80px;
}

.nav{
    display: flex;
    list-style: none;
    column-gap: 20px;
    font-family: 'Satisfy', cursive;
}

.nav li a{
    font-size: 20px;
    color: red;
    text-decoration: none;
}
/* header */



/* cover */
#cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://img5.goodfon.com/wallpaper/nbig/e/37/interieur-restaurant-view.jpg');
}

.cover__container{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.cover__wrap{
    color:white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
}

h1{
    font-size: 60px;
    font-family: 'Ms Madi', cursive;
    color:black;
}

.cover__button{
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}
.cover__p{
    font-size: 40px;
    font-family:'Ms Madi', cursive; 
    color: black;
    margin: 15px 50px 15px 0;

}
/* cover */

